/* ----------------- */
/* Custom Properties */
/* ----------------- */
:root {
    --clr-neutral-900: 233 18% 9%;
    --clr-neutral-200: 240 26% 92%;
    --clr-neutral-0: 0 0% 100%;

    --fs-1: 4rem;
    --fs-mobile-1: 2.5rem;
    --fs-2: 1.5rem;
    --fs-3: 1.25rem;
    --fs-4: 1rem;
}


/* -------------- */
/* General Resets */
/* -------------- */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}

/* 4. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 5. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}


/* 7. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* -------------- */
/* Theme Settings */
/* -------------- */

[data-theme="light"] {
    --bg-color: hsl(var(--clr-neutral-0));
    --text-color: hsl(var(--clr-neutral-900));
}

[data-theme="dark"] {
    --bg-color: hsl(var(--clr-neutral-900));
    --text-color: hsl(var(--clr-neutral-200));
}

/* ---------------- */
/* Custom Utilities */
/* ---------------- */
.fs-1 { font-size: var(--fs-mobile-1); }
.fs-2 { font-size: var(--fs-2); }
.fs-3 { font-size: var(--fs-3); }
.fs-4 { font-size: var(--fs-4); }

@media (min-width: 768px) {
    .fs-1 { font-size: var(--fs-1); }
}


/* ------------------ */
/* -- Base Styling -- */
/* ------------------ */
body {
    /* background-color: var(--bg-color); */
    /* color: var(--text-color); */
    background-color: hsl(233 18% 9%);
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: var(--fs-4);
    font-weight: 200;
    /* transition: background-color 0.3s ease, color 0.3s ease; */
}

