/* Component-specific styles */

h1 {
    font-size: 32px;
    text-align: center;
    padding-top: 32px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}